PORT=5000
ML_SERVICE_URL=http://localhost:8000
MONGO_URL=mongodb://127.0.0.1:27017/autoshield
ENABLE_BLOCKING=true
TRUST_PROXY=false
CORS_ORIGIN=http://localhost:5173
RATE_LIMIT_MAX=600
ML_ANALYSIS_INTERVAL_MS=250
# Required for /unblock and /unblock-all
ADMIN_TOKEN=change-this-local-token
